<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add type="System.Diagnostics.TextWriterTraceListener" name="TextWriter" initializeData="../Output/NetworkModelService.log" />
      </listeners>
    </trace>
    <switches>
      <!-- 0 - Disabled 
           1 = Error   - Gives error messages
           2 = Warning - Gives errors and warnings
           3 = Info    - Gives more detailed error information
           4 = Verbose - Gives verbose trace information.    -->
      <add name="TraceLevel" value = "Verbose" />
    </switches>
  </system.diagnostics>

  <connectionStrings>
    <add name="networkModelconnectionString"	connectionString="../Output/NetworkModelData.data"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="NMS.ServiceBehavior" name="FTN.Services.NetworkModelService.GenericDataAccess">
        <endpoint address="" binding="netTcpBinding" contract="FTN.ServiceContracts.INetworkModelGDAContract" 
                  bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10000/NetworkModelService/GDA/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingNoSecurity" closeTimeout="00:30:00"
				 openTimeout="00:30:00" sendTimeout="00:10:00" receiveTimeout="10:30:00" maxBufferSize="2147483647"
				  maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="NMS.ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceThrottling
           maxConcurrentCalls="1000"
           maxConcurrentSessions="1000"
           maxConcurrentInstances="1000"
          />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>